.black{
    background-color: black !important;
    color: #6c757d !important;
}
.white{
    background-color: white !important;
    color: #6c757d !important;
}
@media (min-width: 992px) {
    .white{
        background-color: white !important;
        color: black !important;
    }
    .black {
      color: lightgrey !important;
    }
  }
.langColor{
    color:lightgrey !important;
}

.whiteTrans{
    background-color: transparent !important;
    color: black !important;
}
#treningMenuCollapse{
    list-style: none;
}
#visina30 ul{
    display: inline;
    
}
#visina30 li{
    
    border-radius: 10pt;
    padding: 10pt;
    display: inline;
    list-style: none;
    font-weight: bold;
 
}
.navbar-toggler{
    background-color: lightgrey !important;
}
