.carousel .item p{
    background-color: black;
    opacity: 0.5;
}
.carousel .item h3{
    background-color: black;
    opacity: 0.5;
}
.crossfit{
   
   color:white;
   
   /*<p class="text-muted mb-0 ">Ukoliko ste u duši Spartanac ili Spartanka – ovaj trening je idealan za vas.</p>
      */               
    background-image: url("../assets/slike/crossfit.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.pilates{
    color:white;
    background-image: url("../assets/slike/pilates.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.spinning{
    color:white;
    background-image: url("../assets/slike/spinning.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.crna{
    background-color: black;
    color: white;
}
#logo{
   height: 30pt;
   width: auto;

}
.dropdown-menu{
    background-color: transparent;
    color: lightgray;
    border-style: none;
    font-weight: bold;
    border-radius: 3pt;
}

.dropdown-item{
      background-color: black;
      color: lightgray;
      border-style: none;
      font-weight: bold;
      border-radius: 3pt;
}

.black{
    background-color: black !important;
    color: lightgrey !important;
}
.white{
    background-color: white !important;
    color: black !important;
}
.containerProsiri{
    min-width: 100%;
    padding-left: 0px;
    padding-right: 0px;

}

#treningMenuCollapse{
    list-style: none;
}
.navbar-toggler{
    background-color: lightgrey !important;
}

.card{
    border-width: 3pt;
    border-color: grey;
    padding: 3pt;
}
#visina30{
    height: 20pt;
}
#visina30 ul{
    display: inline;
    
}
#visina30 li{
    
    border-radius: 10pt;
    padding: 10pt;
    display: inline;
    list-style: none;
    font-weight: bold;
 
}
.slika{
    width: auto;
    height: 100% !important;
}