.carousel .item p{
    background-color: black;
    opacity: 0.5;
}
.carousel .item h3{
    background-color: black;
    opacity: 0.5;
}
.nutricionista1{
   
   color:white;
   
   /*<p class="text-muted mb-0 ">Ukoliko ste u duši Spartanac ili Spartanka – ovaj trening je idealan za vas.</p>
      */               
    background-image: url("../assets/slike/nutricionista1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.nutricionista2{
    color:white;
    background-image: url("../assets/slike/nutricionista2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.nutricionista3{
    color:white;
    background-image: url("../assets/slike/nutricionista3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.crna{
    background-color: black;
    color: white;
}
#logo{
   height: 30pt;
   width: auto;

}
.dropdown-menu,
.dropdown-item{
      background-color: transparent;
      color: lightgray;
      border-style: none;
      font-weight: bold;
      border-radius: 3pt;
}
.black{
    background-color: black;
}
.masaza1{
    color:white;
    background-image: url("../assets/slike/masaza1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.masaza2{
    color:white;
    background-image: url("../assets/slike/masaza2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.masaza3{
    color:white;
    background-image: url("../assets/slike/masaza3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
body{
    display: none;
}