.carousel-item p{
    font-size: 15pt;
}
.carousel-item h5{
    font-size: 25pt;
}
.crossfit{
   
   color:white;
   
   /*<p class="text-muted mb-0 ">Ukoliko ste u duši Spartanac ili Spartanka – ovaj trening je idealan za vas.</p>
      */               
    background-image: url("../assets/slike/crossfit.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.pilates{
    color:white;
    background-image: url("../assets/slike/pilates.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.spinning{
    color:white;
    background-image: url("../assets/slike/spinning.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.crna{
    background-color: black;
    color: white;
}
#logo{
   height: 30pt;
   width: auto;

}
.dropdown-menu,
.dropdown-item{
      background-color: transparent;
      color: lightgray;
      border-style: none;
      font-weight: bold;
      border-radius: 3pt;
}
.black{
    background-color: black !important;
}
.containerProsiri{
    min-width: 100%;
    padding-left: 0px;
    padding-right: 0px;
}
.carousel-item img{
    width: 100%;
    height: 500px;
}

#treningMenuCollapse{
    list-style: none;
}
body{
    display: none;
}